@import "tailwindcss";

@font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCode-VariableFont_wght.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "Cascadia Code Italic";
    src: url("/fonts/CascadiaCode-Italic-VariableFont_wght.ttf");
    font-weight: 100 900;
}

@theme {
    --default-font-family: "Cascadia Code", sans-serif;
    --font-cascadia: "Cascadia Code";
    --font-cascadia-italic: "Cascadia Code Italic";
    --color-teal: #00afc3;
    --color-deep-blue: #171834;
    --color-pink: #ff52f9;
    --color-indigo: #8099ff;
    --color-dark-teal: #007694;
    --color-dark-blue: #474a9f;
    --color-dark-pink: #bf00b9;
    --color-blue: #005ff1;
}

@layer base {
    html {
        @apply dark:text-neutral-200 text-black bg-neutral-300 dark:bg-neutral-900;
    }
}

@layer components {
    .input {
        @apply min-h-10 p-2 outline-none border-neutral-400 dark:border-neutral-600 border-2 focus-within:border-blue focus-within:ring-2 focus-within:ring-dark-blue/50 rounded-lg;
    }

    .button-primary {
        @apply min-h-10 flex flex-row items-center p-2 outline-none rounded-lg bg-dark-blue cursor-pointer hover:bg-dark-blue/80 active:bg-dark-blue/60 text-white;
    }

    .button-outline {
        @apply min-h-10 flex flex-row items-center p-2 outline-none rounded-lg border border-neutral-400 cursor-pointer hover:border-neutral-500 active:border-neutral-300;
    }

    .button-danger {
        @apply min-h-10 flex flex-row items-center p-2 outline-none rounded-lg bg-red-700 text-white cursor-pointer hover:bg-red-600 active:bg-red-400;
    }

    .button-ghost {
        @apply min-h-10 flex flex-row items-center p-2 outline-none rounded-lg text-white cursor-pointer hover:bg-neutral-200/30 dark:hover:bg-neutral-600/30 active:bg-neutral-400/30;
    }
}
