# Backend API config
API_URL=http://localhost:8000
ORIGIN=http://localhost:3000 # prevent cross-site post req forbidden from frontend because node can't resolve it's origin

# frontend config
PUBLIC_CONTENT_CHARACTER_LIMIT=100000
