name: devbin

services:
  app:
    build: backend/.
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - RELOAD=false
      - APP_DATABASE_URL=postgresql+asyncpg://postgres:postgres@devbin_db:5432/postgres
    volumes:
      - ./files:/app/files
    depends_on:
      devbin_db:
        condition: service_healthy
  
  devbin_db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  postgres_data: